.banner1-wrapper {
  display: contents;
}
 
.banner1-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner1-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-title {
  text-align: center;
}
 
.home-fragment {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}

.home-container {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment {
  display: contents;
}
 
.home-text1 {
  display: inline-block;
}
 
.home-text2 {
  top: 302px;
  left: 464px;
  position: absolute;
}
 
.home-text3 {
  top: 249px;
  left: 466px;
  position: absolute;
}
 
.home-image {
  top: 208px;
  left: 150px;
  width: 275px;
  height: 340px;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
}
