.place-card-container1 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.place-card-container2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: column;
}
 
@media(max-width: 767px) {
  .place-card-container1 {
    width: 200px;
  }
}
 
@media(max-width: 479px) {
  .place-card-container1 {
    width: 300px;
  }
}
